<!DOCTYPE html>
<html>
  <head>
    <title>PonselKu</title>
    <link rel="stylesheet" type="text/css" href="/hp/app/assets/stylesheet/style.css">
  </head>
  <body>
    <div id="template">
      <div id="header">
        <h2>PonselKu</h2>
      </div>
      
      <div id="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/phones">Smartphone</a></li>
          
        </ul>
      </div>

      <div id="badan">
  
      <p>
      <strong><h2> <%= @phone.brand %></h2></strong>
      </p>
      <table class="table table-dark">
        
       <img src="<%= url_for(@phone.image) if @phone.image.attached? %>" width="250" height="250">
      <tr>
        <th><strong>OS</strong></th>
        <th><%= @phone.os %></th>
      </tr>

      <tr>
        <th><strong>Chipset</strong></th>
        <th><%= @phone.chipset %></th>
      </tr>
       
      <tr>
        <th><strong>CPU</strong></th>
        <th><%= @phone.cpu %></th>
      </tr>

      <tr>
        <th><strong>GPU</strong></th>
        <th><%= @phone.gpu %></th>
      </tr>
       
      <tr>
        <th><strong>Memory</strong></th>
        <th><%= @phone.memory %></th>
      </tr>

      <tr>
        <th><strong>Camera</strong></th>
        <th><%= @phone.camera %></th>
      </tr>
       
      <tr>
        <th><strong>Camera depan</strong></th>
        <th><%= @phone.front_camera %></th>
      </tr>

      <tr>
        <th><strong>Battery</strong></th>
        <th><%= @phone.battrey %></th>
      </tr>
    </table>
        <%= link_to 'My Blog', new_phone_path %>
      </div>

      
    </div>
  </body>
</html>

