<!DOCTYPE html>
<html>
  <head>
    <title>PonselKu</title>
    <%= stylesheet_link_tag "style", media: "all" %>
  </head>
  <body>
    <div id="template">
      <div id="header">
        <h2>PonselKu</h2>
      </div>
      
      <div id="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/phones">Smartphone</a></li>
          
        </ul>
      </div>
      <%= link_to 'new', new_news_path %>
      <div class="container-fluid" >
        <table>
          <tr>
            <th>Title</th>
            <th>Text</th>
            <th></th>
          </tr>
         
          <% @news.each do |new| %>
            <tr>
              <td><%= new.title %></td>
              <td><%= new.text %></td>
              <td><%= link_to 'Show', news_path(new) %></td>
            </tr>
          <% end %>
        </table>
        
      </div>

      <div id="samping">

      </div>

      
    </div>
  </body>
</html>

