<!DOCTYPE html>
<html>
  <head>
    <title>PonselKu</title>
    <link rel="stylesheet" type="text/css" href="/hp/app/assets/stylesheet/style.css">
  </head>
  <body>
    <div id="template">
      <div id="header">
        <h2>PonselKu</h2>
      </div>
      
      <div id="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/phones">Smartphone</a></li>
          
          
        </ul>
      </div>

      <div class="container-fluid">
        <%= form_with scope: :new,url: news_index_path, local: true do |form| %>
          <p>
            <%= form.label :title %><br>
            <%= form.text_field :title %>
          </p>
         
          <p>
            <%= form.label :text %><br>
            <%= form.text_area :text %>
          </p>
         
          <p>
            <%= form.submit %>
          </p>
        <% end %>
      </div>

      
    </div>
  </body>
</html>


